<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar {{Cliente}}</title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/css/diseñolistar.css' %}">

</head>

<body>
    <header>

        <nav class="navegacion">
          <ul class="menu">
            <li><a href="/">{{Menu}}</a></li>
            <li><a href="/admin">Administracion</a></li>
            <li><a href="/cliente"> {{Cliente}}</a></li>
            <li><a href="/producto">{{Producto}}</a></li>
            <li><a href="/listarventas">{{Venta}}</a></li>
    
          </ul>
        </nav>
      </header>
    <h1>Listado de {{Cliente}}</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>RUC</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Producto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <nav class="linea">
            <l1><a class="btn btn-primary" href="{% url 'cliente' %}">Nuevo</a></l1>
         </nav>
        <body>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.ruc }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>
                    {{ cliente.producto.all|join:", " }}
            </td>
                <td>
                    <ul>
                        <l1><a class="btn btn-primary" href="{% url 'editarcliente' cliente.id %}">Modifcar</a></l1>
                        <l1><a class="btn btn-primary" href="{% url 'eliminarcliente' cliente.id %}">Eliminar</a></l1>

                    </ul>

                </td>

            </tr>
            {% endfor %}
        </body>

    </table>
</body>

</html>