<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/diseño.css' %}">



  <title>Proyecto de Facturacion</title>
</head>

<body>
     <header>

       <nav class="navegacion">
         <ul class="menu">
           <li><a href="/">{{Menu}}</a></li>
           <li><a href="/admin">Administracion</a></li>
           <li><a href="/cliente"> {{Cliente}}</a></li>
           <li><a href="/producto">{{Producto}}</a></li>
           <li><a href="/listarventas">{{Venta}}</a></li>

         </ul>
       </nav>
     </header>

  

  
</body>

</html>





